Repository lidofinance/core, pull requests merged in 2024-12, with the labels that each got.

#894 chore: fix tests in master
  .github/workflows/analyse.yml
  .github/workflows/coverage.yml
  .github/workflows/tests-integration-scratch.yml
  slither.config.json
  test/integration/protocol-happy-path.integration.ts
  test/integration/second-opinion.integration.ts
  yarn.lock
Labels: tests

#891 Fixing precision loss
  contracts/0.4.24/Lido.sol
  contracts/0.4.24/StETH.sol
  contracts/0.4.24/StETHPermit.sol
  contracts/0.4.24/lib/Packed64x4.sol
  contracts/0.8.25/Accounting.sol
  contracts/0.8.25/interfaces/ILido.sol
  contracts/0.8.25/vaults/Dashboard.sol
  contracts/0.8.25/vaults/Delegation.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.9/Burner.sol
  test/0.4.24/lido/lido.accounting.test.ts
  test/0.4.24/lido/lido.externalShares.test.ts
  test/0.4.24/steth.test.ts
  test/0.8.25/vaults/contracts/VaultHub__MockForVault.sol
  test/integration/accounting.integration.ts
  test/integration/vaults-happy-path.integration.ts
Labels: solidity, next-upgrade, vaults

#895 docs: update readme status badges
  README.md
Labels: cosmetic

#890 feat: vaults Devnet 1 – Holesky
  deployed-holesky-vaults-devnet-1.json
  deployments/archive/deployed-holesky-vaults-devnet-0.json
  deployments/archive/deployed-mekong-vaults-devnet-1.json
  docs/scratch-deploy.md
  hardhat.config.ts
  package.json
  scripts/archive/devnets/dao-holesky-vaults-devnet-0-deploy.sh
  scripts/archive/devnets/dao-mekong-vaults-devnet-1-deploy.sh
  scripts/archive/staking-router-v2/.env.sample
  scripts/archive/staking-router-v2/sr-v2-deploy-holesky.ts
  scripts/archive/staking-router-v2/sr-v2-deploy.ts
  scripts/dao-holesky-vaults-devnet-1-deploy.sh
  scripts/dao-local-deploy.sh
  scripts/defaults/testnet-defaults.json
Labels: infrastructure, next-upgrade, vaults

#892 VaultHub update
  contracts/0.4.24/Lido.sol
  contracts/0.4.24/StETH.sol
  contracts/0.4.24/StETHPermit.sol
  contracts/0.8.25/Accounting.sol
  contracts/0.8.25/interfaces/ILido.sol
  contracts/0.8.25/utils/Versioned.sol
  contracts/0.8.25/vaults/Dashboard.sol
  contracts/0.8.25/vaults/Delegation.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/interfaces/IHubVault.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  contracts/0.8.9/Burner.sol
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  scripts/scratch/steps/0145-deploy-vaults.ts
  test/0.4.24/lido/lido.accounting.test.ts
  test/0.4.24/lido/lido.externalBalance.test.ts
  test/0.4.24/lido/lido.externalShares.test.ts
  test/0.4.24/lido/lido.mintburning.test.ts
  test/0.4.24/steth.test.ts
  test/0.8.25/vaults/accounting.test.ts
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/contracts/VaultHub__Harness.sol
  test/0.8.25/vaults/contracts/VaultHub__MockForVault.sol
  test/0.8.25/vaults/delegation.test.ts
  test/0.8.25/vaults/vault.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/integration/accounting.integration.ts
  test/integration/vaults-happy-path.integration.ts
Labels: solidity, next-upgrade, vaults
