Repository lidofinance/core, pull requests merged in 2024-07, with the labels that each got.

#92 Feat: NOR unit tests
  contracts/0.4.24/test_helpers/NodeOperatorsRegistryMock.sol
  lib/index.ts
  lib/nor.ts
  lib/string.ts
  test/0.4.24/contracts/NodeOperatorsRegistry__Harness.sol
  test/0.4.24/nor/nor.aux.test.ts
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
  test/0.4.24/nor/nor.management.flow.test.ts
  test/0.4.24/nor/nor.rewards.penalties.flow.test.ts
  test/0.4.24/nor/nor.signing.keys.test.ts
  test/deploy/dao.ts
Labels: tests

#121 Proposed fixes for MixBytes audit
  contracts/0.8.9/sanity_checks/OracleReportSanityChecker.sol
  test/0.8.9/sanityChecks/baseOracleReportSanityChecker.test.ts
Labels: contracts

#118 Repovation PR
  .gitignore
  contracts/0.4.24/test_helpers/NodeOperatorsRegistryMock.sol
  deployed-sepolia.json
  docs/scratch-deploy.md
  docs/upgrade-deploy.md
  hardhat.config.ts
  lib/deploy.ts
  lib/index.ts
  lib/nor.ts
  lib/state-file.ts
  lib/string.ts
  poetry.lock
  scripts/upgrade/deploy-locator.ts
  test/0.4.24/contracts/NodeOperatorsRegistry__Harness.sol
  test/0.4.24/nor/nor.aux.test.ts
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
  test/0.4.24/nor/nor.management.flow.test.ts
  test/0.4.24/nor/nor.rewards.penalties.flow.test.ts
  test/0.4.24/nor/nor.signing.keys.test.ts
  test/0.8.9/Initializable.test.ts
  test/0.8.9/contracts/Initializable__Mock.sol
  test/0.8.9/ossifiableProxy.test.ts
  test/deploy/dao.ts
  yarn.lock
Labels: dependencies, tests

#119 Remove unused total keys count
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  contracts/0.8.9/StakingRouter.sol
Labels: enhancement, contracts

#126 chore: cleanup test helpers
  contracts/0.4.24/test_helpers/AragonVaultMock.sol
  contracts/0.4.24/test_helpers/DepositContractMock.sol
  contracts/0.4.24/test_helpers/ERC20Mock.sol
  contracts/0.4.24/test_helpers/ERC20WrongTransferMock.sol
  contracts/0.4.24/test_helpers/ERC721Mock.sol
  contracts/0.4.24/test_helpers/LidoMock.sol
  contracts/0.4.24/test_helpers/LidoPushableMock.sol
  contracts/0.4.24/test_helpers/MinFirstAllocationStrategyConsumerMockLegacyVersion.sol
  contracts/0.4.24/test_helpers/SigningKeysMock.sol
  contracts/0.4.24/test_helpers/VaultMock.sol
  contracts/0.6.12/mocks/StETHMockERC20.sol
  contracts/0.8.9/test_helpers/AccessControlEnumerableMock.sol
  contracts/0.8.9/test_helpers/ContractStub.sol
  contracts/0.8.9/test_helpers/DummyEmptyContract.sol
  contracts/0.8.9/test_helpers/ERC20OZMock.sol
  contracts/0.8.9/test_helpers/ERC721OZMock.sol
  contracts/0.8.9/test_helpers/LidoLocatorMock.sol
  contracts/0.8.9/test_helpers/MinFirstAllocationStrategyConsumerMockModernVersion.sol
  contracts/0.8.9/test_helpers/ModuleSolo.sol
  contracts/0.8.9/test_helpers/PausableUntilPrivateExposed.sol
  contracts/0.8.9/test_helpers/StakingModuleMock.sol
  contracts/0.8.9/test_helpers/StakingRouterMock.sol
  contracts/0.8.9/test_helpers/VersionedConsumerMock.sol
  contracts/0.8.9/test_helpers/WithdrawalQueueERC721Mock.sol
  contracts/common/test_helpers/Assertions.sol
  contracts/common/test_helpers/ERC1271MutatingSignerMock.sol
  contracts/common/test_helpers/ERC1271PermitSignerMock.sol
  contracts/common/test_helpers/ERC1271SignerDumbMock.sol
  contracts/common/test_helpers/ERC1271SignerMock.sol
  contracts/common/test_helpers/SignatureUtilsConsumer_0_4_24.sol
  contracts/common/test_helpers/SignatureUtilsConsumer_0_8_9.sol
  test/0.4.24/contracts/LegacyOracle__MockForAccountingOracle.sol
  test/0.4.24/contracts/StETHPermit__MockForWithdrawalQueueDeploy.sol
  test/0.4.24/contracts/StETH__MockForWithdrawalQueueDeploy.sol
  test/0.4.24/contracts/Versioned__Harness0424.sol
  test/0.4.24/versioned.test.ts
  test/0.6.12/contracts/WstETH__MockForWithdrawalQueueDeploy.sol
  test/0.8.9/contracts/ERC721ReceiverMock.sol
  test/0.8.9/contracts/NFTDescriptor__MockForWithdrawalQueue.sol
  test/0.8.9/contracts/NFTDescriptor__MockWithdrawalQueueERC721.sol
  test/0.8.9/contracts/Versioned__Harness089.sol
  test/0.8.9/contracts/oracle/OracleReportSanityCheckerMocks.sol
  test/0.8.9/oracle/accountingOracle.happyPath.test.ts
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/versioned.test.ts
  test/0.8.9/withdrawalQueueERC721.test.ts
  test/deploy/accountingOracle.ts
  test/deploy/withdrawalQueue.ts
Labels: enhancement, contracts

#67 Negative rebase limit
  contracts/0.8.9/interfaces/ISecondOpinionOracle.sol
  contracts/0.8.9/lib/SafeCastExt.sol
  contracts/0.8.9/sanity_checks/OracleReportSanityChecker.sol
  scripts/scratch/steps/09-deploy-non-aragon-contracts.ts
  test/0.8.9/contracts/OracleReportSanityCheckerWrapper.sol
  test/0.8.9/contracts/SecondOpinionOracleMock.sol
  test/0.8.9/contracts/StakingRouterMockForValidatorsCount.sol
  test/0.8.9/contracts/oracle/AccountingOracle__MockForSanityChecker.sol
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/oracle/accountingOracle.submitReportExtraData.test.ts
  test/0.8.9/sanityChecks/baseOracleReportSanityChecker.test.ts
  test/0.8.9/sanityChecks/negativeRebaseSanityChecker.test.ts
  test/deploy/accountingOracle.ts
Labels: contracts

#137 chore: simplify equalities
  test/0.4.24/lib/stakeLimitUtils.test.ts
  test/0.4.24/nor/nor.aux.test.ts
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
  test/0.4.24/nor/nor.management.flow.test.ts
  test/0.4.24/nor/nor.rewards.penalties.flow.test.ts
  test/0.4.24/nor/nor.signing.keys.test.ts
  test/0.4.24/oracle/legacyOracle.test.ts
  test/0.8.9/oracle/accountingOracle.deploy.test.ts
  test/0.8.9/oracle/accountingOracle.happyPath.test.ts
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/oracle/accountingOracle.submitReportExtraData.test.ts
  test/0.8.9/oracle/baseOracle.accessControl.test.ts
  test/0.8.9/oracle/baseOracle.consensus.test.ts
  test/0.8.9/oracle/baseOracle.submitReport.test.ts
  test/0.8.9/oracle/hashConsensus.frames.test.ts
  test/0.8.9/oracle/hashConsensus.members.test.ts
  test/0.8.9/oracle/hashConsensus.reportProcessor.test.ts
  test/0.8.9/ossifiableProxy.test.ts
  test/0.8.9/sanityChecks/baseOracleReportSanityChecker.test.ts
  test/0.8.9/withdrawalQueueERC721.test.ts
  test/deploy/accountingOracle.ts
Labels: enhancement
