Repository lidofinance/core, pull requests merged in 2025-01, with the labels that each got.

#921 fix: refactor hardhat config file
  .env.example
  CONTRIBUTING.md
  hardhat.config.ts
  hardhat.helpers.ts
  tasks/index.ts
  tasks/solidity-get-source.ts
Labels: bug, infrastructure, tests

#913 fix: get rid of double division on shares to eth conversion
  contracts/0.4.24/Lido.sol
  contracts/0.4.24/StETH.sol
  test/0.4.24/lido/lido.externalShares.test.ts
Labels: vaults

#914 feat: make VaultHub pausable
  contracts/0.8.25/utils/PausableUntilWithRoles.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/common/lib/UnstructuredStorage.sol
  contracts/common/utils/PausableUntil.sol
  hardhat.config.ts
  package.json
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  yarn.lock
Labels: vaults

#912 Fix accounting tests for vaults
  package.json
  test/0.4.24/contracts/Burner__MockForAccounting.sol
  test/0.4.24/contracts/LidoExecutionLayerRewardsVault__MockForLidoAccounting.sol
  test/0.4.24/contracts/WithdrawalVault__MockForLidoAccounting.sol
  test/0.4.24/lido/lido.accounting.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/LidoLocator__MockMutable.sol
  test/0.8.9/contracts/Lido__MockForAccounting.sol
  test/0.8.9/contracts/OracleReportSanityChecker__Mock.sol
  test/0.8.9/contracts/OracleReportSanityChecker__MockForAccounting.sol
  test/0.8.9/contracts/oracle/OracleReportSanityCheckerMocks.sol
Labels: vaults

#920 Feat/factory upgrade immutable
  .github/workflows/tests-integration-mainnet.yml
  contracts/0.8.25/interfaces/ILido.sol
  contracts/0.8.25/utils/PausableUntilWithRoles.sol
  contracts/0.8.25/vaults/Dashboard.sol
  contracts/0.8.25/vaults/Delegation.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/COMPILERS.md
  contracts/openzeppelin/5.2/upgradeable/access/AccessControlUpgradeable.sol
  contracts/openzeppelin/5.2/upgradeable/access/OwnableUpgradeable.sol
  contracts/openzeppelin/5.2/upgradeable/access/extensions/AccessControlEnumerableUpgradeable.sol
  contracts/openzeppelin/5.2/upgradeable/proxy/utils/Initializable.sol
  contracts/openzeppelin/5.2/upgradeable/utils/ContextUpgradeable.sol
  contracts/openzeppelin/5.2/upgradeable/utils/introspection/ERC165Upgradeable.sol
  package.json
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/contracts/StakingVault__MockForVaultDelegationLayer.sol
  test/0.8.25/vaults/dashboard/contracts/VaultFactory__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/delegation/contracts/StETH__MockForDelegation.sol
  test/0.8.25/vaults/delegation/delegation.test.ts
  test/0.8.25/vaults/staking-vault/contracts/VaultFactory__MockForStakingVault.sol
  yarn.lock
Labels: vaults

#924 chore: accounting fixes after review
  .solhintignore
  contracts/0.4.24/Lido.sol
  contracts/0.8.25/Accounting.sol
  contracts/0.8.9/oracle/AccountingOracle.sol
  contracts/common/interfaces/ILidoLocator.sol
  contracts/common/interfaces/ReportValues.sol
  contracts/testnets/sepolia/SepoliaDepositAdapter.sol
  lib/oracle.ts
  lib/protocol/helpers/accounting.ts
  test/0.4.24/contracts/Burner__MockForDistributeReward.sol
  test/0.4.24/contracts/HashConsensus__HarnessForLegacyOracle.sol
  test/0.4.24/contracts/StETHPermit__HarnessWithEip712Initialization.sol
  test/0.4.24/contracts/StakingRouter__MockForLidoAccounting.sol
  test/0.4.24/contracts/StakingRouter__MockForLidoMisc.sol
  test/0.8.25/vaults/delegation/contracts/VaultHub__MockForDelegation.sol
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/AccountingOracle__MockForSanityChecker.sol
  test/0.8.9/contracts/OracleReportSanityChecker__MockForAccounting.sol
  test/0.8.9/oracle/accountingOracle.accessControl.test.ts
  test/0.8.9/oracle/accountingOracle.happyPath.test.ts
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/oracle/accountingOracle.submitReportExtraData.test.ts
  test/integration/accounting.integration.ts
  test/integration/vaults-happy-path.integration.ts
  yarn.lock
Labels: solidity, vaults

#915 [SI][Vaults] feat: Dashboard UX updates
  contracts/0.8.25/interfaces/ILido.sol
  contracts/0.8.25/vaults/Dashboard.sol
  contracts/0.8.25/vaults/Delegation.sol
  contracts/0.8.25/vaults/Permissions.sol
  contracts/0.8.9/Burner.sol
  scripts/scratch/steps/0145-deploy-vaults.ts
  test/0.8.25/vaults/contracts/WETH9__MockForVault.sol
  test/0.8.25/vaults/dashboard/contracts/ERC721_MockForDashboard.sol
  test/0.8.25/vaults/dashboard/contracts/StETHPermit__HarnessForDashboard.sol
  test/0.8.25/vaults/dashboard/contracts/VaultFactory__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/delegation/contracts/VaultHub__MockForDelegation.sol
  test/0.8.25/vaults/delegation/delegation.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/integration/vaults-happy-path.integration.ts
Labels: vaults
