Repository lidofinance/core, pull requests merged in 2025-05, with the labels that each got.

#980 [VAULTS] PDG gIndex on slot change
  contracts/0.8.25/lib/SSZ.sol
  contracts/0.8.25/vaults/interfaces/IPredepositGuarantee.sol
  contracts/0.8.25/vaults/predeposit_guarantee/CLProofVerifier.sol
  lib/protocol/helpers/vaults.ts
  test/0.8.25/vaults/predeposit-guarantee/cl-proof-verifyer.test.ts
  test/0.8.25/vaults/predeposit-guarantee/contracts/CLProofVerifier__harness.sol
  test/0.8.25/vaults/predeposit-guarantee/predeposit-guarantee.test.ts
  test/integration/vaults/happy-path.integration.ts
Labels: solidity, vaults

#1056 Lazy Oracle more tests for proofs
  test/0.8.25/vaults/vaulthub/vaulthub.reporting.test.ts
Labels: tests, vaults

#1053 Add more fields to vaults batch query
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
Labels: solidity, vaults

#1063 Lazy oracle freshness conditions update
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultHub.sol
  lib/protocol/helpers/vaults.ts
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/node-operator-fee/contracts/VaultHub__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/staking-vault/contracts/VaultHub__MockForStakingVault.sol
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/integration/vaults/connected.integration.ts
Labels: solidity, vaults

#1045 feat: add view functions for verify proof of validator and deposit me…
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  test/0.8.25/vaults/predeposit-guarantee/predeposit-guarantee.test.ts
Labels: vaults

#1060 Exit limits refactoring
  contracts/0.8.9/lib/ExitLimitUtils.sol
  contracts/0.8.9/oracle/ValidatorsExitBus.sol
  contracts/0.8.9/oracle/ValidatorsExitBusOracle.sol
  test/0.8.9/contracts/ExitLimitUtils__Harness.sol
  test/0.8.9/contracts/ValidatorsExitBus__Harness.sol
  test/0.8.9/lib/exitLimitUtils.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.emitExitEvents.test.ts
Labels: solidity, valset

#1069 refactor: polish VaultHub
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/VaultControl.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  contracts/0.8.25/vaults/interfaces/IVaultControl.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  test/0.8.25/vaults/contracts/PredepositGuarantee_HarnessForFactory.sol
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/contracts/StakingVault__MockForVaultDelegationLayer.sol
  test/0.8.25/vaults/dashboard/contracts/VaultFactory__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/node-operator-fee/contracts/NodeOperatorFee__Harness.sol
  test/0.8.25/vaults/node-operator-fee/contracts/StakingVault__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/operator-grid/contracts/StETH__MockForOperatorGrid.sol
  test/0.8.25/vaults/permissions/contracts/Permissions__Harness.sol
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/staking-vault/contracts/VaultFactory__MockForStakingVault.sol
  test/0.8.25/vaults/staking-vault/contracts/VaultHub__MockForStakingVault.sol
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultFactory__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
  test/0.8.9/contracts/AccountingOracle__MockForSanityChecker.sol
  test/0.8.9/contracts/LidoLocator__MockForSanityChecker.sol
  test/0.8.9/contracts/LidoLocator__MockMutable.sol
Labels: vaults

#1073 [VAULTS] Split VaultHub.VaultSocket into VaultConnection and VaultRecord
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/staking-vault/contracts/VaultHub__MockForStakingVault.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
Labels: solidity, vaults

#1071 fix: disconnect vault
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
Labels: solidity, vaults

#1062 feat: add requestedShareLimit
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/integration/vaults/roles.integration.ts
Labels: solidity, vaults

#1080 Feat: triggerable exits NOR reporting window
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  scripts/scratch/deployed-testnet-defaults.json
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  test/0.4.24/nor/nor.aux.test.ts
  test/0.4.24/nor/nor.exit.manager.test.ts
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
  test/0.4.24/nor/nor.limits.test.ts
  test/0.4.24/nor/nor.management.flow.test.ts
  test/0.4.24/nor/nor.rewards.penalties.flow.test.ts
  test/0.4.24/nor/nor.signing.keys.test.ts
  test/0.4.24/nor/nor.staking.limit.test.ts
Labels: valset

#1070 Triggerable exits gateway
  contracts/0.8.9/LidoLocator.sol
  contracts/0.8.9/TriggerableWithdrawalsGateway.sol
  contracts/0.8.9/interfaces/IValidatorsExitBus.sol
  contracts/0.8.9/lib/ExitLimitUtils.sol
  contracts/0.8.9/oracle/ValidatorsExitBus.sol
  contracts/0.8.9/oracle/ValidatorsExitBusOracle.sol
  contracts/common/interfaces/ILidoLocator.sol
  lib/deploy.ts
  lib/state-file.ts
  scripts/archive/staking-router-v2/.env.sample
  scripts/archive/staking-router-v2/sr-v2-deploy.ts
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  scripts/scratch/steps/0130-grant-roles.ts
  scripts/triggerable-withdrawals/tw-deploy.ts
  test/0.8.9/contracts/ExitLimitUtils__Harness.sol
  test/0.8.9/contracts/LidoLocator__MockForSanityChecker.sol
  test/0.8.9/contracts/StakingRouter_MockForTWG.sol
  test/0.8.9/contracts/TriggerableWithdrawalsGateway__Harness.sol
  test/0.8.9/contracts/TriggerableWithdrawalsGateway__MockForVEB.sol
  test/0.8.9/contracts/WithdrawalValut_MockForTWG.sol
  test/0.8.9/lib/exitLimitUtils.test.ts
  test/0.8.9/lidoLocator.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.accessControl.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.deploy.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.gas.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.happyPath.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.submitExitRequestsData.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.submitReportData.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.triggerExits.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.triggerExitsDirectly.test.ts
  test/0.8.9/oracle/validator-exit-bus.helpers.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.misc.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.negative-rebase.test.ts
  test/0.8.9/triggerableWithdrawalGateway.triggerFullWithdrawals.test.ts
  test/deploy/locator.ts
  test/deploy/validatorExitBusOracle.ts
Labels: valset

#1072 Fix happy path tests for operator fees, burn and mint
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  lib/protocol/discover.ts
  lib/protocol/helpers/index.ts
  lib/protocol/helpers/vaults.ts
  lib/protocol/types.ts
  scripts/scratch/steps.json
  scripts/scratch/steps/0097-deploy-lazy-oracle.ts
  scripts/scratch/steps/0145-deploy-vaults.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/integration/vaults/connected.integration.ts
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/pdg.integration.ts
  test/integration/vaults/roles.integration.ts
Labels: tests, vaults

#1065 feat: add multiple fee types
  .nvmrc
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/operator-grid/contracts/VaultHub__MockForOperatorGrid.sol
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaulthub/contracts/OperatorGrid__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceRebalance.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.reporting.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/integration/vaults/happy-path.integration.ts
Labels: solidity, vaults

#1097 feat: TW NOR refactoring
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  test/0.4.24/nor/nor.aux.test.ts
  test/0.4.24/nor/nor.exit.manager.test.ts
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
  test/0.4.24/nor/nor.limits.test.ts
  test/0.4.24/nor/nor.management.flow.test.ts
  test/0.4.24/nor/nor.rewards.penalties.flow.test.ts
  test/0.4.24/nor/nor.signing.keys.test.ts
  test/0.4.24/nor/nor.staking.limit.test.ts
Labels: valset

#1052 [VAULTS] update role checks to include admin permissions for various…
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  test/integration/vaults/roles.integration.ts
Labels: solidity, vaults

#1099 chore: Fix typo in README.md
  README.md
Labels: documentation

#992 update: develop ⇒ master
  .github/workflows/tests-integration-mainnet.yml
  .github/workflows/tests-integration-scratch.yml
  .github/workflows/tests-unit.yml
  .gitignore
  .prettierignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/scratch-deploy.md
  globals.d.ts
  hardhat.config.ts
  package.json
  poetry.lock
  pyproject.toml
  scripts/scratch/deployed-testnet-defaults.json
  tasks/verify-contracts.ts
  test/hooks/index.ts
  test/integration/negative-rebase.integration.ts
  yarn.lock
Labels: polishing, tests

#1077 Write vault pdg integration tests
  lib/deploy.ts
  lib/protocol/helpers/vaults.ts
  lib/protocol/types.ts
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/integration/vaults/disconnected.integration.ts
  test/integration/vaults/pdg.integration.ts
  test/integration/vaults/roles.integration.ts
  test/suite/constants.ts
Labels: tests, vaults

#1102 Fix typos in 0.8.25 contracts
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  contracts/0.8.25/vaults/predeposit_guarantee/CLProofVerifier.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
Labels: codex

#1115 Fix/veb twg naming
  contracts/0.8.9/TriggerableWithdrawalsGateway.sol
  contracts/0.8.9/lib/ExitLimitUtils.sol
  contracts/0.8.9/oracle/ValidatorsExitBus.sol
  contracts/0.8.9/oracle/ValidatorsExitBusOracle.sol
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  test/0.8.9/contracts/ExitLimitUtils__Harness.sol
  test/0.8.9/contracts/TriggerableWithdrawalsGateway__Harness.sol
  test/0.8.9/lib/exitLimitUtils.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.finalize_v2.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.submitExitRequestsData.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.submitReportData.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.triggerExits.test.ts
  test/0.8.9/triggerableWithdrawalGateway.triggerFullWithdrawals.test.ts
  test/deploy/validatorExitBusOracle.ts
  test/integration/validators-exit-bus-multiple-delivery.ts
Labels: valset

#1107 feat: tw remove stuck item type ao
  contracts/0.8.9/oracle/AccountingOracle.sol
  lib/oracle.ts
  scripts/deploy-tw.sh
  scripts/scratch/steps/0130-grant-roles.ts
  scripts/triggerable-withdrawals/tw-deploy.ts
  test/0.8.9/contracts/StakingRouter__MockForAccountingOracle.sol
  test/0.8.9/oracle/accountingOracle.happyPath.test.ts
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/oracle/accountingOracle.submitReportExtraData.test.ts
Labels: valset

#1124 fix: update allowance for NOR to 0 after removing stuck keys logic
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
Labels: valset

#1125 module notification wrap in try/catch
  contracts/0.8.9/TriggerableWithdrawalsGateway.sol
  contracts/0.8.9/oracle/ValidatorsExitBus.sol
  test/0.8.9/oracle/validator-exit-bus-oracle.submitExitRequestsData.test.ts
Labels: valset

#1101 Node operator fees fixed
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  test/0.8.25/vaults/node-operator-fee/contracts/NodeOperatorFee__Harness.sol
  test/0.8.25/vaults/node-operator-fee/contracts/VaultHub__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/node-operator-fee/node-operator-fee.test.ts
  test/integration/vaults/roles.integration.ts
Labels: solidity, vaults
