Repository lidofinance/core, pull requests merged in 2025-02, with the labels that each got.

#944 feat: improve transactions logging
  lib/deploy.ts
  lib/index.ts
  lib/log.ts
  lib/protocol/helpers/accounting.ts
  lib/protocol/helpers/nor.ts
  lib/protocol/helpers/sdvt.ts
  lib/protocol/helpers/staking.ts
  lib/protocol/helpers/withdrawal.ts
  lib/protocol/provision.ts
  lib/transaction.ts
  lib/type.ts
  tasks/index.ts
  tasks/logger.ts
  test/0.8.9/lidoLocator.test.ts
  test/integration/accounting.integration.ts
  test/integration/burn-shares.integration.ts
  test/integration/protocol-happy-path.integration.ts
Labels: infrastructure, tests, typescript

#917 test: VEBO tests restored from legacy (val-1556)
  test/0.8.9/oracle/validator-exit-bus-oracle.accessControl.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.deploy.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.gas.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.happyPath.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.submitReportData.test.ts
  test/deploy/index.ts
  test/deploy/validatorExitBusOracle.ts
Labels: tests, valset

#896 wip: local devnet
  .gitignore
  deployed-holesky.json
  globals.d.ts
  hardhat.config.ts
  package.json
  scripts/scratch/deployed-testnet-defaults.json
  scripts/scratch/steps/0000-populate-deploy-artifact-from-env.ts
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  tasks/verify-contracts.ts
Labels: infrastructure

#955 feat: healthy ratio
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/accounting.test.ts
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
Labels: vaults

#957 Detach Accounting from VaultHub
  contracts/0.4.24/Lido.sol
  contracts/0.8.25/Accounting.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.9/LidoLocator.sol
  contracts/common/interfaces/ILidoLocator.sol
  lib/deploy.ts
  lib/protocol/discover.ts
  lib/protocol/types.ts
  lib/state-file.ts
  scripts/defaults/testnet-defaults.json
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  scripts/scratch/steps/0130-grant-roles.ts
  scripts/scratch/steps/0145-deploy-vaults.ts
  scripts/scratch/steps/0150-transfer-roles.ts
  test/0.4.24/lido/lido.externalShares.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaultHub.test.ts
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__Harness.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/LidoLocator__MockForSanityChecker.sol
  test/0.8.9/contracts/LidoLocator__MockMutable.sol
  test/0.8.9/lidoLocator.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.negative-rebase.test.ts
  test/deploy/locator.ts
  test/integration/vaults/happy-path.integration.ts
Labels: vaults

#966 Separate mint shares
  contracts/0.4.24/Lido.sol
  contracts/0.8.25/Accounting.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.9/LidoLocator.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
Labels: vaults
