Repository lidofinance/core, pull requests merged in 2025-08, with the labels that each got.

#1278 fix: require quar expiration for disconnect
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/lazyOracle/lazyOracle.test.ts
  test/0.8.25/vaults/vaulthub/contracts/LazyOracle__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/integration/vaults/lazyOracle.integration.ts
Labels: bug, solidity, audit, vaults

#1353 [TW] sync with the dev branch
  .github/workflows/tests-integration-mainnet.yml
  .github/workflows/tests-integration-scratch.yml
  contracts/0.4.24/template/LidoTemplate.sol
  contracts/common/interfaces/ICSModule.sol
  lib/constants.ts
  lib/event.ts
  lib/oracle.ts
  lib/protocol/context.ts
  lib/protocol/discover.ts
  lib/protocol/helpers/accounting.ts
  lib/protocol/helpers/dsm.ts
  lib/protocol/helpers/index.ts
  lib/protocol/helpers/nor-sdvt.ts
  lib/protocol/helpers/nor.ts
  lib/protocol/helpers/sanity-checker.ts
  lib/protocol/helpers/sdvt.ts
  lib/protocol/helpers/staking-module.ts
  lib/protocol/helpers/staking.ts
  lib/protocol/helpers/withdrawal.ts
  lib/protocol/index.ts
  lib/protocol/provision.ts
  lib/protocol/types.ts
  lib/string.ts
  poetry.lock
  scripts/dao-local-deploy.sh
  test/0.4.24/contracts/Lido__HarnessForDistributeReward.sol
  test/0.4.24/contracts/MinFirstAllocationStrategy__HarnessLegacyVersion.sol
  test/0.4.24/contracts/NodeOperatorsRegistry__Harness.sol
  test/0.8.9/ISepoliaDepositContract.sol
  test/0.8.9/contracts/AccountingOracle__MockForSanityChecker.sol
  test/0.8.9/contracts/OracleReportSanityCheckerWrapper.sol
  test/0.8.9/contracts/SecondOpinionOracle__Mock.sol
  test/0.8.9/contracts/StakingRouter__MockForDepositSecurityModule.sol
  test/0.8.9/contracts/StakingRouter__MockForSanityChecker.sol
  test/0.8.9/contracts/oracle/OracleReportSanityCheckerMocks.sol
  test/integration/accounting.integration.ts
  test/integration/core/accounting-oracle-extra-data-full-items.integration.ts
  test/integration/core/accounting-oracle-extra-data.integration.ts
  test/integration/core/dsm-keys-unvetting.integration.ts
  test/integration/core/dsm-pause-deposits.integration.ts
  test/integration/core/el-rewards.integration.ts
  test/integration/core/hash-consensus.integration.ts
  test/integration/core/node-operators-happy-path.integration.ts
  test/integration/core/staking-limits.integration.ts
  test/integration/core/staking-module.integration.ts
  test/integration/core/withdrawal-edge-cases.integration.ts
  test/integration/core/withdrawal-happy-path.integration.ts
  test/integration/protocol-happy-path.integration.ts
  yarn.lock
Labels: valset

#1358 [VAULTS] Improve freshness check
  contracts/0.8.25/vaults/LazyOracle.sol
  test/integration/vaults/lazyOracle.integration.ts
  test/integration/vaults/scenario/lazyOracle.report.integration.ts
Labels: bug, solidity, vaults
