Repository lidofinance/core, pull requests merged in 2025-03, with the labels that each got.

#932 [VAULTS] PredepositGuarantee
  contracts/0.8.25/lib/GIndex.sol
  contracts/0.8.25/lib/SSZ.sol
  contracts/0.8.25/vaults/Dashboard.sol
  contracts/0.8.25/vaults/Permissions.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  contracts/0.8.25/vaults/predeposit_guarantee/CLProofVerifier.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  contracts/0.8.9/LidoLocator.sol
  contracts/common/interfaces/ILidoLocator.sol
  foundry.toml
  lib/deploy.ts
  lib/protocol/discover.ts
  lib/protocol/types.ts
  lib/state-file.ts
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  scripts/scratch/steps/0145-deploy-vaults.ts
  test/0.8.25/vaults/contracts/PredepositGuarantee_HarnessForFactory.sol
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/delegation/delegation.test.ts
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/0.8.25/vaults/predeposit-guarantee/cl-proof-verifyer.test.ts
  test/0.8.25/vaults/predeposit-guarantee/contracts/CLProofVerifier__harness.sol
  test/0.8.25/vaults/predeposit-guarantee/contracts/SSZHelpers.sol
  test/0.8.25/vaults/predeposit-guarantee/contracts/SSZMerkleTree.sol
  test/0.8.25/vaults/predeposit-guarantee/helpers.ts
  test/0.8.25/vaults/predeposit-guarantee/predeposit-guarantee.test.ts
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaultHub.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__Harness.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/LidoLocator__MockForSanityChecker.sol
  test/0.8.9/contracts/LidoLocator__MockMutable.sol
  test/0.8.9/lidoLocator.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.negative-rebase.test.ts
  test/deploy/locator.ts
  test/deploy/stakingVault.ts
  test/integration/vaults/happy-path.integration.ts
Labels: solidity, vaults

#971 [VAULTS] fixing fees
  contracts/0.4.24/Lido.sol
  contracts/0.8.25/Accounting.sol
  contracts/0.8.25/interfaces/ILido.sol
  contracts/0.8.25/vaults/VaultHub.sol
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaultHub.test.ts
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__Harness.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/Lido__MockForAccounting.sol
  test/integration/core/negative-rebase.integration.ts
  test/integration/vaults/happy-path.integration.ts
Labels: vaults

#987 feat: hoodi deployment
  deployed-hoodi.json
  scripts/scratch/deployed-testnet-defaults.json
  scripts/scratch/steps/0140-plug-staking-modules.ts
Labels: documentation

#993 [VAULTS] remove curator
  contracts/0.8.25/vaults/Delegation.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  test/0.8.25/vaults/delegation/delegation.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/roles.integration.ts
Labels: vaults

#986 [VAULTS] PDG unit tests
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  lib/pdg.ts
  test/0.8.25/vaults/predeposit-guarantee/predeposit-guarantee.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
Labels: tests, vaults

#954 feat: add rebalanceShortfall and refactor forceRebalance
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
Labels: vaults

#919 feat: local devnet with Perkta support for vaults
  .env.example
  .gitignore
  hardhat.config.ts
  scripts/defaults/local-devnet-defaults.json
  scripts/scratch/steps/0000-populate-deploy-artifact-from-env.ts
  scripts/scratch/steps/0150-transfer-roles.ts
  tasks/verify-contracts.ts
Labels: infrastructure, vaults
