Repository lidofinance/core, pull requests merged in 2025-07, with the labels that each got.

#1199 [Vaults] permissions bytecode micro optimisation
  contracts/0.8.25/vaults/dashboard/Permissions.sol
Labels: vaults

#1216 Fix: double inOutDelta cache
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/lib/RefSlotCache.sol
  contracts/0.8.9/oracle/AccountingOracle.sol
  contracts/common/interfaces/ILazyOracle.sol
  foundry.toml
  lib/protocol/helpers/accounting.ts
  lib/protocol/helpers/vaults.ts
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/lazyOracle/contracts/VaultHub__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/lazyOracle.test.ts
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/0.8.25/vaults/refSlotCache/contracts/HashConsensus__Mock.sol
  test/0.8.25/vaults/refSlotCache/contracts/RefSlotCacheTest.sol
  test/0.8.25/vaults/refSlotCache/refSlotCache.t.sol
  test/0.8.25/vaults/refSlotCache/refSlotCache.test.ts
  test/0.8.25/vaults/vaulthub/contracts/HashConsensus__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceRebalance.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.9/contracts/LazyOracle__MockForAccountingOracle.sol
  test/integration/vaults/connected.integration.ts
Labels: bug, solidity, vaults

#1281 fix: vaultFactory.createVaultWithoutConnecting
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/node-operator-fee/contracts/NodeOperatorFee__Harness.sol
  test/0.8.25/vaults/vaultFactory.test.ts
Labels: bug, solidity, audit, vaults

#1277 fix(#1233, #1269): update pause on beacon chain deposits, remove no fee validation duplication
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  test/integration/vaults/pausable-beacon-deposits.integration.ts
Labels: solidity, tests, typescript
