Repository lidofinance/core, pull requests merged in 2025-04, with the labels that each got.

#984 test: add vault creation tests
  lib/protocol/helpers/index.ts
  lib/protocol/vaults.ts
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/roles.integration.ts
  test/integration/vaults/vault-creation.integration.ts
  yarn.lock
Labels: tests, vaults

#1008 feat: vaults batch info
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
Labels: solidity, vaults

#945 [VAULTS] PDG BLS
  contracts/0.8.25/lib/BLS.sol
  contracts/0.8.25/lib/GIndex.sol
  contracts/0.8.25/lib/SSZ.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  lib/deposit.ts
  lib/pdg.ts
  package.json
  test/0.8.25/vaults/contracts/BLS.t.sol
  test/0.8.25/vaults/contracts/BLS__Harness.sol
  test/0.8.25/vaults/contracts/BLS__PrecompilesMock.sol
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/predeposit-guarantee/cl-proof-verifyer.test.ts
  test/0.8.25/vaults/predeposit-guarantee/predeposit-guarantee.test.ts
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/vault-creation.integration.ts
  yarn.lock
Labels: solidity, vaults

#1012 chore: remove vaults limit
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/predeposit_guarantee/CLProofVerifier.sol
  scripts/defaults/testnet-defaults.json
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaultHub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/integration/vaults/happy-path.integration.ts
  test/suite/constants.ts
Labels: solidity, vaults

#1017 [VAULTS] Separate vaultHub auth and depositor
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/staking-vault/contracts/VaultFactory__MockForStakingVault.sol
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.detach.test.ts
Labels: solidity, vaults

#1016 [VAULTS] common SSZ commit
  contracts/0.8.25/lib/BeaconTypes.sol
  contracts/0.8.25/lib/SSZ.sol
  test/0.8.25/contracts/Utilities.sol
  test/0.8.25/lib/GIndex.t.sol
  test/0.8.25/lib/SSZ.t.sol
Labels: vaults, valset

#977 Merkle oracle integration
  contracts/0.8.25/Accounting.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  contracts/0.8.9/oracle/AccountingOracle.sol
  contracts/common/interfaces/ReportValues.sol
  lib/index.ts
  lib/oracle.ts
  lib/protocol/helpers/accounting.ts
  lib/protocol/helpers/index.ts
  lib/protocol/helpers/vaults.ts
  lib/proxy.ts
  package.json
  test/0.4.24/contracts/AccountingOracle__MockForLegacyOracle.sol
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/contracts/StakingVault__MockForVaultDelegationLayer.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/delegation/contracts/VaultHub__MockForDelegation.sol
  test/0.8.25/vaults/delegation/delegation.test.ts
  test/0.8.25/vaults/staking-vault/contracts/VaultHub__MockForStakingVault.sol
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
  test/0.8.25/vaults/vaulthub/vaulthub.detach.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.reporting.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/AccountingOracle__MockForSanityChecker.sol
  test/0.8.9/oracle/accountingOracle.accessControl.test.ts
  test/0.8.9/oracle/accountingOracle.happyPath.test.ts
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/oracle/accountingOracle.submitReportExtraData.test.ts
  test/integration/core/burn-shares.integration.ts
  test/integration/vaults/happy-path.integration.ts
  yarn.lock
Labels: solidity, vaults

#1020 feat: added permissions for new actions and unit tests
  contracts/0.8.25/vaults/Dashboard.sol
  contracts/0.8.25/vaults/Permissions.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  contracts/0.8.25/vaults/lib/PinnedBeaconUtils.sol
  hardhat.config.ts
  lib/account.ts
  lib/protocol/helpers/get-random-signers.ts
  lib/protocol/helpers/index.ts
  lib/protocol/helpers/vaults.ts
  test/0.4.24/contracts/LidoExecutionLayerRewardsVault__MockForLidoAccounting.sol
  test/0.4.24/contracts/WithdrawalVault__MockForLidoAccounting.sol
  test/0.4.24/lido/lido.accounting.test.ts
  test/0.4.24/lido/lido.externalShares.test.ts
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/dashboard/contracts/ERC721__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/contracts/PredepositGuarantee__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/contracts/VaultFactory__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/delegation/delegation.test.ts
  test/0.8.25/vaults/permissions/contracts/Permissions__Harness.sol
  test/0.8.25/vaults/permissions/contracts/PredepositGuarantee__MockPermissions.sol
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/permissions/contracts/VaultHub__MockPermissions.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/vaultHub.initialization.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.detach.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/Lido__MockForAccounting.sol
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/roles.integration.ts
Labels: solidity, tests, vaults

#1013 feat: rebalance shortfall
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
Labels: solidity, vaults, devnet-5

#1003 feat: partial force rebalance
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceRebalance.test.ts
Labels: solidity, vaults, devnet-5

#1035 wip: temporary implementation for TW
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  contracts/0.8.9/StakingRouter.sol
  contracts/0.8.9/interfaces/IStakingModule.sol
  test/0.4.24/nor/nor.exit.manager.test.ts
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
  test/0.8.9/contracts/StakingModule__MockForStakingRouter.sol
  test/0.8.9/stakingRouter/stakingRouter.module-sync.test.ts
Labels: valset

#962 feat: OperatorsGrid
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/snippets.code-snippets
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  contracts/0.8.9/LidoLocator.sol
  contracts/common/interfaces/ILidoLocator.sol
  hardhat.config.ts
  lib/deploy.ts
  lib/protocol/discover.ts
  lib/protocol/helpers/index.ts
  lib/protocol/helpers/vaults.ts
  lib/protocol/networks.ts
  lib/protocol/types.ts
  lib/state-file.ts
  scripts/scratch/steps/0090-deploy-non-aragon-contracts.ts
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  scripts/scratch/steps/0130-grant-roles.ts
  scripts/scratch/steps/0150-transfer-roles.ts
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/node-operator-fee/contracts/VaultHub__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/operator-grid/contracts/StETH__MockForOperatorGrid.sol
  test/0.8.25/vaults/operator-grid/contracts/StakingVault__MockForOperatorGrid.sol
  test/0.8.25/vaults/operator-grid/contracts/VaultHub__MockForOperatorGrid.sol
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaulthub/contracts/OperatorGrid__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultFactory__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
  test/0.8.25/vaults/vaulthub/vaulthub.deauthorize.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceRebalance.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.reporting.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/LidoLocator__MockForSanityChecker.sol
  test/0.8.9/contracts/LidoLocator__MockMutable.sol
  test/0.8.9/lidoLocator.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.negative-rebase.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.test.ts
  test/deploy/locator.ts
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/roles.integration.ts
  test/integration/vaults/vault-creation.integration.ts
Labels: solidity, vaults, devnet-5

#1041 operator grid fixes + tests
  contracts/0.8.25/vaults/OperatorGrid.sol
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
Labels: devnet-5

#1037 New taxonomy
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  lib/protocol/helpers/vaults.ts
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/contracts/StakingVault__MockForVaultDelegationLayer.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/node-operator-fee/contracts/StakingVault__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/node-operator-fee/node-operator-fee.test.ts
  test/0.8.25/vaults/operator-grid/contracts/VaultHub__MockForOperatorGrid.sol
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/0.8.25/vaults/predeposit-guarantee/predeposit-guarantee.test.ts
  test/0.8.25/vaults/staking-vault/contracts/VaultHub__MockForStakingVault.sol
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaulthub/contracts/OperatorGrid__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
  test/0.8.25/vaults/vaulthub/vaulthub.deauthorize.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceRebalance.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.pausable.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.reporting.test.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/vault-creation.integration.ts
Labels: vaults, devnet-5

#1040 feat: infinite stacktraces
  test/hooks/index.ts
Labels: enhancement

#1021 feat: add integration tests for ao extra data from scripts repo
  contracts/common/interfaces/ICSModule.sol
  lib/oracle.ts
  lib/protocol/context.ts
  lib/protocol/discover.ts
  lib/protocol/helpers/accounting.ts
  lib/protocol/helpers/index.ts
  lib/protocol/helpers/nor-sdvt.ts
  lib/protocol/helpers/sdvt.ts
  lib/protocol/helpers/staking-module.ts
  lib/protocol/helpers/staking.ts
  lib/protocol/index.ts
  lib/protocol/networks.ts
  lib/protocol/provision.ts
  lib/protocol/types.ts
  lib/string.ts
  test/integration/core/accounting-oracle-extra-data-full-items.integration.ts
  test/integration/core/accounting-oracle-extra-data.integration.ts
  test/integration/core/dsm-keys-unvetting.integration.ts
  test/integration/core/happy-path.integration.ts
  test/integration/core/hash-consensus.integration.ts
  test/integration/core/node-operators-happy-path.integration.ts
  test/integration/core/staking-limits.integration.ts
  test/integration/core/staking-module.integration.ts
  test/integration/vaults/happy-path.integration.ts
Labels: tests, vaults

#1026 VEB delivering requests by parts
  contracts/0.8.25/ValidatorExitVerifier.sol
  contracts/0.8.25/interfaces/IValidatorsExitBus.sol
  contracts/0.8.9/interfaces/IValidatorExitBus.sol
  contracts/0.8.9/lib/ReportExitLimitUtils.sol
  contracts/0.8.9/oracle/ValidatorsExitBus.sol
  contracts/0.8.9/oracle/ValidatorsExitBusOracle.sol
  test/0.8.25/contracts/ValidatorsExitBusOracle_Mock.sol
  test/0.8.9/contracts/StakingRouter_MockForVEB.sol
  test/0.8.9/contracts/ValidatorsExitBus__Harness.sol
  test/0.8.9/oracle/validator-exit-bus-oracle.emitExitEvents.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.happyPath.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.submitReportData.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.triggerExitHashVerify.test.ts
  test/0.8.9/oracle/validator-exit-bus-oracle.triggerExitsDirectly.test.ts
  test/deploy/validatorExitBusOracle.ts
Labels: valset

#1042 Disallow empty codehash for vaults
  contracts/0.8.25/vaults/VaultHub.sol
  scripts/scratch/steps/0145-deploy-vaults.ts
Labels: vaults

#1049 feat: tw nor implementation
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  scripts/scratch/deployed-testnet-defaults.json
  scripts/scratch/steps/0120-initialize-non-aragon-contracts.ts
  test/0.4.24/contracts/NodeOperatorsRegistry__Harness.sol
  test/0.4.24/nor/nor.aux.test.ts
  test/0.4.24/nor/nor.exit.manager.test.ts
  test/0.4.24/nor/nor.initialize.upgrade.test.ts
  test/0.4.24/nor/nor.limits.test.ts
  test/0.4.24/nor/nor.management.flow.test.ts
  test/0.4.24/nor/nor.rewards.penalties.flow.test.ts
  test/0.4.24/nor/nor.signing.keys.test.ts
  test/0.4.24/nor/nor.staking.limit.test.ts
Labels: valset

#1055 feat: add disconnect event
  contracts/0.8.25/vaults/VaultHub.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/node-operator-fee/contracts/VaultHub__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
Labels: solidity, vaults

#1032 test: disconnected vault integration tests
  lib/protocol/helpers/index.ts
  lib/protocol/helpers/vaults.ts
  test/0.8.25/vaults/staking-vault/stakingVault.test.ts
  test/integration/vaults/connected.integration.ts
  test/integration/vaults/disconnected.integration.ts
  test/integration/vaults/vault-creation.integration.ts
Labels: tests, vaults
