Repository lidofinance/core, pull requests merged in 2025-09, with the labels that each got.

#1403 [VAULTS] various Lido fixes and polish
  contracts/0.4.24/Lido.sol
  contracts/0.4.24/StETH.sol
  contracts/0.4.24/utils/UnstructuredStorageExt.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.9/Burner.sol
  contracts/0.8.9/oracle/AccountingOracle.sol
  contracts/common/interfaces/IBurner.sol
  lib/index.ts
  lib/storage.ts
  tasks/check-interfaces.ts
  test/0.4.24/contracts/Lido__HarnessForDistributeReward.sol
  test/0.4.24/contracts/Lido__HarnessForFinalizeUpgradeV3.sol
  test/0.4.24/lido/lido.externalShares.test.ts
  test/0.4.24/lido/lido.finalizeUpgrade_v3.test.ts
  test/0.4.24/lido/lido.initialize.test.ts
  test/0.4.24/lido/lido.misc.test.ts
  test/0.4.24/lido/lido.pausable.test.ts
  test/0.4.24/lido/lido.staking-limit.test.ts
  test/0.4.24/lido/lido.staking.test.ts
  test/0.8.25/vaults/dashboard/contracts/StETHPermit__HarnessForDashboard.sol
  test/0.8.25/vaults/pinnedBeaconProxy.test.ts
  test/0.8.25/vaults/vaulthub/contracts/Lido__MockForVaultHub.sol
  test/0.8.9/withdrawalsManagerProxy.test.ts
  test/integration/core/lido-storage.integration.ts
  test/integration/core/staking-limits.integration.ts
  test/integration/vaults/bad-debt.integration.ts
  test/integration/vaults/connected.integration.ts
Labels: solidity, vaults

#1424 fix: mintable with minimal reserve
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/lazyOracle/contracts/Lido__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/contracts/VaultHub__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/lazyOracle.test.ts
  test/integration/vaults/vaulthub.disconnect.integration.ts
Labels: vaults

#1426 [VAULTS] report maxLiabilityShares to fix #1296
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/VaultHub.sol
  lib/protocol/helpers/vaults.ts
  test/0.8.25/vaults/lazyOracle/contracts/VaultHub__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/lazyOracle.test.ts
  test/0.8.25/vaults/vaulthub/contracts/LazyOracle__MockForVaultHub.sol
  test/0.8.25/vaults/vaulthub/vaulthub.forceExit.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceRebalance.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.redemptions.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.vault.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.withdraw.test.ts
  test/deploy/vaults.ts
  test/integration/vaults/lazyOracle.integration.ts
  test/integration/vaults/obligations.integration.ts
Labels: solidity, vaults

#1445 SRv3: accounting
  contracts/0.4.24/Lido.sol
  contracts/0.8.25/StakingRouter.sol
  contracts/0.8.9/Accounting.sol
  contracts/0.8.9/oracle/AccountingOracle.sol
  contracts/0.8.9/sanity_checks/OracleReportSanityChecker.sol
  contracts/common/interfaces/ILido.sol
  contracts/common/interfaces/IStakingModuleV2.sol
  contracts/common/interfaces/ReportValues.sol
  lib/oracle.ts
  lib/protocol/helpers/accounting.ts
  lib/protocol/helpers/staking.ts
  test/0.4.24/lido/lido.accounting.test.ts
  test/0.4.24/lido/lido.finalizeUpgrade_v3.test.ts
  test/0.4.24/lido/lido.misc.test.ts
  test/0.8.25/contracts/StakingModuleV2__MockForStakingRouter.sol
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/contracts/AccountingOracle__MockForSanityChecker.sol
  test/0.8.9/contracts/Accounting__MockForAccountingOracle.sol
  test/0.8.9/contracts/Lido__MockForAccounting.sol
  test/0.8.9/contracts/StakingRouter__MockForAccountingOracle.sol
  test/0.8.9/oracle/accountingOracle.accessControl.test.ts
  test/0.8.9/oracle/accountingOracle.happyPath.test.ts
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/oracle/accountingOracle.submitReportExtraData.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.negative-rebase.test.ts
  test/0.8.9/sanityChecker/oracleReportSanityChecker.test.ts
  test/deploy/accountingOracle.ts
  test/integration/core/accounting.integration.ts
  test/integration/core/burn-shares.integration.ts
  test/integration/core/second-opinion.integration.ts
  test/integration/vaults/scenario/happy-path.integration.ts
Labels: solidity, valset

#1441 fix: redemptions priority over the fees
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.forceRebalance.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.vault.test.ts
  test/integration/vaults/bad-debt.integration.ts
  test/integration/vaults/obligations.integration.ts
Labels: solidity, vaults

#1432 [VAULTS] 1 eth griefing fix
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/interfaces/IPredepositGuarantee.sol
  contracts/0.8.25/vaults/interfaces/IStakingVault.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  lib/bytes.ts
  lib/index.ts
  lib/pdg.ts
  lib/protocol/helpers/vaults.ts
  lib/units.ts
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/lazyOracle/contracts/PredepositGuarantee__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/contracts/Vault__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/lazyOracle.test.ts
  test/0.8.25/vaults/predepositGuarantee/contracts/StakingVault__MockForPDG.sol
  test/0.8.25/vaults/predepositGuarantee/predepositGuarantee.test.ts
  test/0.8.25/vaults/stakingVault/stakingVault.test.ts
  test/0.8.25/vaults/vaulthub/contracts/StakingVault__MockForVaultHub.sol
  test/deploy/locator.ts
  test/integration/vaults/disconnected.integration.ts
  test/integration/vaults/pdg.integration.ts
  test/integration/vaults/scenario/happy-path.integration.ts
Labels: solidity, vaults

#1459 [VAULTS] (PDG): add explicit activation flow
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  test/0.8.25/vaults/predepositGuarantee/predepositGuarantee.test.ts
  test/integration/vaults/disconnected.integration.ts
  test/integration/vaults/pdg.integration.ts
  test/integration/vaults/scenario/happy-path.integration.ts
Labels: solidity, vaults

#1455 Fix oracle reporting
  contracts/0.8.25/sr/SRLib.sol
  contracts/0.8.25/sr/SRTypes.sol
  contracts/0.8.25/sr/SRUtils.sol
  contracts/0.8.25/sr/StakingRouter.sol
  contracts/0.8.25/stas/STASPouringMath.sol
  contracts/0.8.9/Accounting.sol
  contracts/0.8.9/oracle/AccountingOracle.sol
  lib/constants.ts
  lib/oracle.ts
  lib/protocol/helpers/accounting.ts
  lib/protocol/helpers/staking.ts
  scripts/scratch/steps/0083-deploy-core.ts
  test/0.8.25/contracts/StakingModuleV2__MockForStakingRouter.sol
  test/0.8.25/contracts/StakingModule__MockForStakingRouter.sol
  test/0.8.25/contracts/StakingRouter__Harness.sol
  test/0.8.25/stakingRouter/stakingRouter.02-keys-type.test.ts
  test/0.8.25/stakingRouter/stakingRouter.exit.test.ts
  test/0.8.25/stakingRouter/stakingRouter.misc.test.ts
  test/0.8.25/stakingRouter/stakingRouter.module-management.test.ts
  test/0.8.25/stakingRouter/stakingRouter.module-sync.test.ts
  test/0.8.25/stakingRouter/stakingRouter.rewards.test.ts
  test/0.8.25/stakingRouter/stakingRouter.status-control.test.ts
  test/0.8.9/contracts/StakingRouter__MockForAccountingOracle.sol
  test/0.8.9/oracle/accountingOracle.accessControl.test.ts
  test/0.8.9/oracle/accountingOracle.happyPath.test.ts
  test/0.8.9/oracle/accountingOracle.submitReport.test.ts
  test/0.8.9/oracle/accountingOracle.submitReportExtraData.test.ts
  test/common/contracts/DepositsTracker__Harness.sol
  test/integration/core/negative-rebase.integration.ts
  test/integration/core/second-opinion.integration.ts
  test/suite/constants.ts
Labels: solidity, valset

#1456 Set withdrawalCredentials02 in migration_v4
  test/0.8.25/contracts/StakingRouter__Harness.sol
  test/0.8.25/stakingRouter/stakingRouter.misc.test.ts
Labels: solidity, valset

#1458 fix: prevent owner from lowering NO fee via unguaranteed deposit
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  lib/pdg.ts
  lib/protocol/helpers/vaults.ts
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/nodeOperatorFee/nodeOperatorFee.test.ts
  test/0.8.25/vaults/permissions/contracts/Permissions__Harness.sol
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/integration/vaults/pdg.integration.ts
  test/integration/vaults/roles.integration.ts
Labels: solidity, vaults

#1482 [VAULTS] PDG side-activation
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/interfaces/IPredepositGuarantee.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  test/0.8.25/vaults/lazyOracle/contracts/PredepositGuarantee__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/lazyOracle.test.ts
  test/0.8.25/vaults/predepositGuarantee/predepositGuarantee.test.ts
Labels: solidity, vaults

#1467 [VAULTS] Audit fixes 3
  contracts/0.8.25/utils/Confirmations.sol
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/StakingVault.sol
  contracts/0.8.25/vaults/ValidatorConsolidationRequests.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  contracts/0.8.25/vaults/interfaces/IPredepositGuarantee.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  contracts/0.8.9/Burner.sol
  deployed-hoodi-vaults-testnet-3.json
  lib/pdg.ts
  lib/protocol/helpers/vaults.ts
  scripts/dao-hoodi-vaults-testnet-3-deploy.sh
  scripts/defaults/vaults-testnet-defaults.json
  scripts/scratch/deploy-params-testnet.toml
  scripts/upgrade/upgrade-params-mainnet.toml
  test/0.8.25/vaults/consolidation/validatorConsolidationRequests.test.ts
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/lazyOracle/contracts/PredepositGuarantee__MockForLazyOracle.sol
  test/0.8.25/vaults/lazyOracle/lazyOracle.test.ts
  test/0.8.25/vaults/nodeOperatorFee/nodeOperatorFee.test.ts
  test/0.8.25/vaults/permissions/contracts/Permissions__Harness.sol
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/0.8.25/vaults/predepositGuarantee/predepositGuarantee.test.ts
  test/0.8.25/vaults/stakingVault/stakingVault.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
  test/0.8.9/sanityChecker/oracleReportSanityChecker.test.ts
  test/integration/vaults/disconnected.integration.ts
  test/integration/vaults/operator.grid.integration.ts
  test/integration/vaults/pdg.integration.ts
  test/integration/vaults/roles.integration.ts
  test/integration/vaults/scenario/happy-path.integration.ts
  test/integration/vaults/scenario/lazyOracle.report.integration.ts
  test/integration/vaults/validator-consolidation-requests.integration.ts
Labels: solidity, audit, vaults
