Repository lidofinance/core, pull requests merged in 2025-06, with the labels that each got.

#1123 PDG: Delegated deposits
  contracts/0.8.25/vaults/predeposit_guarantee/MeIfNobodyElse.sol
  contracts/0.8.25/vaults/predeposit_guarantee/PredepositGuarantee.sol
  test/0.8.25/vaults/predeposit-guarantee/contracts/StakingVault__MockForPDG.sol
  test/0.8.25/vaults/predeposit-guarantee/contracts/VaultHub__MockForPDG.sol
  test/0.8.25/vaults/predeposit-guarantee/predeposit-guarantee.test.ts
Labels: vaults

#1143 feat: move try/catch from twg to sr
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  contracts/0.8.25/ValidatorExitDelayVerifier.sol
  contracts/0.8.9/StakingRouter.sol
  contracts/0.8.9/TriggerableWithdrawalsGateway.sol
  test/0.4.24/nor/nor.exit.manager.test.ts
  test/0.8.25/contracts/StakingRouter_Mock.sol
  test/0.8.25/validatorExitDelayVerifier.test.ts
  test/0.8.25/validatorExitDelayVerifierHelpers.ts
  test/0.8.9/contracts/StakingRouter_MockForTWG.sol
  test/0.8.9/contracts/StakingRouter__Harness.sol
  test/0.8.9/triggerableWithdrawalGateway.triggerFullWithdrawals.test.ts
  test/integration/report-validator-exit-delay.ts
Labels: valset

#1152 refactor: NOR, SR and AO refactoring
  contracts/0.4.24/nos/NodeOperatorsRegistry.sol
  contracts/0.8.9/StakingRouter.sol
  contracts/0.8.9/interfaces/IStakingModule.sol
  contracts/0.8.9/oracle/AccountingOracle.sol
  contracts/0.8.9/oracle/ValidatorsExitBusOracle.sol
  test/0.4.24/nor/nor.aux.test.ts
Labels: valset

#1153 feat: uint16.max fees
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/VaultHub.sol
  lib/constants.ts
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/0.8.25/vaults/vaulthub/vaulthub.hub.test.ts
Labels: solidity, vaults

#1159 fix(NodeOperatorFee): revert NO fee change if vault is in quarantine
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/common/interfaces/ILazyOracle.sol
  test/0.8.25/vaults/node-operator-fee/contracts/LazyOracle__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/node-operator-fee/node-operator-fee.test.ts
  test/deploy/locator.ts
Labels: vaults

#1094 [VAULTS] Feat/og mconfirm
  contracts/0.8.25/utils/AccessControlConfirmable.sol
  contracts/0.8.25/utils/Confirmable2Addresses.sol
  contracts/0.8.25/utils/Confirmations.sol
  contracts/0.8.25/vaults/OperatorGrid.sol
  contracts/0.8.25/vaults/VaultFactory.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  lib/protocol/helpers/vaults.ts
  test/0.8.25/utils/access-control-confirmable.test.ts
  test/0.8.25/utils/contracts/AccessControlConfirmable__Harness.sol
  test/0.8.25/vaults/dashboard/contracts/VaultHub__MockForDashboard.sol
  test/0.8.25/vaults/dashboard/dashboard.test.ts
  test/0.8.25/vaults/node-operator-fee/node-operator-fee.test.ts
  test/0.8.25/vaults/operator-grid/contracts/VaultHub__MockForOperatorGrid.sol
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/0.8.25/vaults/permissions/contracts/OperatorGrid__MockForPermissions.sol
  test/0.8.25/vaults/permissions/contracts/Permissions__Harness.sol
  test/0.8.25/vaults/permissions/contracts/VaultFactory__MockPermissions.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/0.8.25/vaults/vaulthub/contracts/OperatorGrid__MockForVaultHub.sol
  test/deploy/locator.ts
  test/integration/vaults/connected.integration.ts
  test/integration/vaults/disconnected.integration.ts
  test/integration/vaults/roles.integration.ts
  yarn.lock
Labels: solidity, vaults

#1167 fix: allow fund when pending disconnect
  contracts/0.8.25/vaults/VaultHub.sol
  test/integration/vaults/obligations.integration.ts
Labels: solidity, vaults

#1170 Fix Accounting tests
  lib/oracle.ts
  test/0.8.9/accounting.handleOracleReport.test.ts
  test/0.8.9/oracle/accountingOracle.upgrade.test.ts
  test/deploy/accountingOracle.ts
Labels: vaults

#1172 feat: TW Refactor Deploy Script
  contracts/0.8.9/StakingRouter.sol
  contracts/0.8.9/interfaces/IStakingModule.sol
  hardhat.config.ts
  scripts/deploy-tw.sh
  scripts/triggerable-withdrawals/.env.sample
  scripts/triggerable-withdrawals/tw-deploy.ts
  scripts/triggerable-withdrawals/tw-verify.ts
  tasks/verify-contracts.ts
  test/0.8.9/contracts/StakingModule__MockForStakingRouter.sol
  test/0.8.9/contracts/StakingModule__MockForTriggerableWithdrawals.sol
  test/0.8.9/stakingRouter/stakingRouter.module-sync.test.ts
Labels: valset

#1177 [VAULTS] gas optimizations
  contracts/0.8.25/vaults/LazyOracle.sol
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/NodeOperatorFee.sol
  contracts/common/interfaces/ILazyOracle.sol
  test/0.8.25/vaults/node-operator-fee/contracts/LazyOracle__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/node-operator-fee/contracts/VaultHub__MockForNodeOperatorFee.sol
  test/0.8.25/vaults/node-operator-fee/node-operator-fee.test.ts
  test/0.8.25/vaults/vaulthub/contracts/VaultHub__HarnessForReporting.sol
Labels: solidity, vaults

#1181 feat: rebalance in shares
  contracts/0.8.25/vaults/VaultHub.sol
  contracts/0.8.25/vaults/dashboard/Dashboard.sol
  contracts/0.8.25/vaults/dashboard/Permissions.sol
  test/0.8.25/vaults/permissions/contracts/Permissions__Harness.sol
  test/0.8.25/vaults/permissions/permissions.test.ts
  test/integration/vaults/connected.integration.ts
  test/integration/vaults/happy-path.integration.ts
  test/integration/vaults/obligations.integration.ts
  test/integration/vaults/roles.integration.ts
Labels: solidity, vaults

#1178 StETH optimizations
  contracts/0.4.24/Lido.sol
  contracts/0.4.24/StETH.sol
  contracts/0.4.24/utils/UnstructuredStorageUint128.sol
  gas-report.txt
  gas-report.txt.before
  hardhat.config.ts
  package.json
  test/0.4.24/contracts/Lido__HarnessForFinalizeUpgradeV3.sol
  yarn.lock
Labels: solidity, vaults

#1188 fix: added og/factory/beacon
  lib/protocol/helpers/vaults.ts
  test/0.8.25/vaults/contracts/StakingVault__HarnessForTestUpgrade.sol
  test/0.8.25/vaults/operator-grid/operator-grid.test.ts
  test/0.8.25/vaults/pinnedBeaconProxy.test.ts
  test/0.8.25/vaults/vaultFactory.test.ts
Labels: tests, vaults

#1193 feat(TW): deploy separate gate seals for WQ, VEBO and TWG
  contracts/0.8.9/oracle/AccountingOracle.sol
  deployed-holesky.json
  lib/constants.ts
  lib/state-file.ts
  scripts/deploy-tw.sh
  scripts/triggerable-withdrawals/tw-deploy.ts
  test/0.8.9/oracle/accountingOracle.upgrade.test.ts
  test/0.8.9/oracle/baseOracle.accessControl.test.ts
  test/0.8.9/oracle/baseOracle.consensus.test.ts
  test/0.8.9/oracle/hashConsensus.submitReport.test.ts
Labels: valset

#1206 Audit fixes
  contracts/0.8.9/TriggerableWithdrawalsGateway.sol
  contracts/0.8.9/lib/ExitLimitUtils.sol
  contracts/0.8.9/oracle/ValidatorsExitBus.sol
  contracts/0.8.9/oracle/ValidatorsExitBusOracle.sol
Labels: valset
